header {
    width: 450px;
    height: 50px;
    border: 1px solid black;

    display: flex;
    align-items: center;
}

.icono {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin: 20px;
}
